
    table{
        font-family: Arial, sans-serif;
        border-collapse:collapse ;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){
        background-color: #dddd;
    }

    .container{
        border-collapse: collapse;
        border: 2px, solid rgb(140 140 140);
        font-family: sans-serif;
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
    caption{
        caption-side: bottom;
        padding: 10px;
        font-weight: bold;
    }
    thead, {
        background-color: #000;
    }
    th, td{
        border: 1px solid rgb(160 160 160);
        padding: 8px 10px;
    }
    td:last-of-type{
        text-align: center;
    }
    tbody > tr:nth-of-type(even) {
        background-color: rgb(237 238 242);
    }
    tfoot th{
        text-align: right;
    }
    tfoot td{
        font-weight: bold;
    }